


<h3> ASTEROIDS <button class="game-go btn btn-primary">Start Game</button></h3>

<div class="asteroids-back">
<canvas width="900" height="600"></canvas>
  </div>
  <div class="loser">
  </div>
  <br>
    <p> Up Down Left Right to move. Space to fire. T to spawn asteroids. B to drop a bomb. <button class="restart-as btn btn-success">New Game</button> </p>
    <br>
    check out the code here <a href="https://github.com/weymanf/asteroid-js">asteroids code</a>

 <script>


    window.addEventListener("keydown", arrow_keys_handler, false);

    
  
      var canvas = document.getElementsByTagName("canvas")[0];
      var ctx = canvas.getContext("2d")
      var img = new Image();
      img.onload = function () {
            ctx.drawImage(img, 0, 0);
        }
        img.src = 'assets/space.jpg';
        var asteroid = new Asteroids.Game(ctx);
        asteroid.start();



        $(".restart-as").click(function(){
            window.location.reload()  
        });

</script>

