



<div class="container">
	<div class="jumbotron">
		<div class="logo">
		<%= image_tag("weyman_logo.png") %>
		</div>
		<a href="http://github.com/weymanf">Github</a>
		<a href="http://www.linkedin.com/pub/weyman-fung/75/173/626">Linkedin</a>
	</div>

	<div class="about">
		<p>
		<h2> Hello. </h2>
		My name is Weyman Fung. I graduated from the UC Davis with a chemistry degree. I have since moved on to a pursue a career in computer science. I recently attended App Academy which moved me further on my journey to becoming a web developer. I know a couple of languages and technologies now including: <br>
		<span class="language">Ruby, Rails, Javascript, Backbone, CSS, HTML, C (a little bit), Python ( a little bit) </span> 
		<br>
		 
		<p>
	</div>

	<div>
		<h2> Proud Projects </h2>
		<p>
		<h4>Roly Polly</h4>
			<a href="http://roly-polly.herokuapp.com">Roly Polly</a>
		</p>
		<p>
		<h4>Asteroids</h4>
		</p>
		<p>?????</p>
	</div>


</div>



