
<div class="container">
	<div class="jumbotron">
		<div class="logo">
		<%= image_tag("weyman_logo.png") %> <span class="top"> Web Developer </span>
		</div>
		<a href="http://github.com/weymanf">Github</a>
		<a href="http://www.linkedin.com/pub/weyman-fung/75/173/626">Linkedin</a>
	</div>

	<div class="about">
		<hr>
		<h4>About Me</h4>
		<hr>
		<p>
		<h2> Hello. </h2>
		I recently graduated from the UC Davis with a chemistry degree in spring of 2013. Since then, I have forsaken my degree to pursue a career in computer science. I recently attended App Academy which moved me further on my path to becoming a web developer. I know a couple of languages and technologies now including: <br><br>
		<span class="language">Ruby, Rails, SQL, Javascript, Backbone, CSS, HTML, C (a little bit), Python ( a little bit), and more </span> 
		<br>
		<br>
		Enough boring stuff. Here are the good facts:
			<ul>
				<li> Easy to work with
				<li> Diamond in League of Legends
				<li> I watch anime
				<li> Plays WoW, Hearthstone, Starcraft, Diablo 3, BF4 and more
				<li> Plays basketball. Yea I'm not a total shut-in
			</ul>
		<p>
	</div>

	<br>
	<br>
	<div class="row">
		<hr>
		<h4> Cool Projects </h4>
		<hr>
		<div class="col-xs-5 projects">
		<h4>Roly Polly <small> <a href="http://roly-polly.herokuapp.com">link</a> </small> </h4>
		<%= image_tag("roly_polly.png") %>
	</div>
		<div class="col-xs-5 projects">
		<h4>Asteroids <small> <a href="https://github.com/weymanf/asteroid-js">link</a> </small></h4> 
		<%= image_tag("asteroids.png") %>
		</div>
		<div class="col-xs-5 projects">
		<h4>Checkers <small> <a href="https://github.com/weymanf/checkers_ruby">link</a> </small></h4>
		<%= image_tag("checkers.png") %>
		</div>
	</div>


</div>



