



<div class="container">
	<div class="jumbotron">
		<%= image_tag("weyman_logo.png") %>
		<a href="http://github.com/weymanf">Github</a>
		<a href="http://www.linkedin.com/pub/weyman-fung/75/173/626">Linkedin</a>
	</div>

	<div>
		<h2> About Me </h2>
	</div>

	<div>
		<h2> Proud Projects </h2>
		<p>
		<h4>Roly Polly</h4>
			<a href="http://roly-polly.herokuapp.com">Roly Polly</a>
		</p>
		<p>Asteroids</p>
		<p>?????</p>
	</div>


</div>



