



<div class="container">
	<div class="jumbotron">
		<div class="logo">
		<%= image_tag("weyman_logo.png") %> <span class="top"> Web Developer </span>
		</div>
		<a href="http://github.com/weymanf">Github</a>
		<a href="http://www.linkedin.com/pub/weyman-fung/75/173/626">Linkedin</a>
	</div>

	<div class="about">
		<p>
		<h2> Hello. </h2>
		I recently graduated from the UC Davis with a chemistry degree in spring of 2013. Since then, I have forsaken my degree to pursue a career in computer science. I recently attended App Academy which moved me further on my path to becoming a web developer. I know a couple of languages and technologies now including: <br><br>
		<span class="language">Ruby, Rails, SQL, Javascript, Backbone, CSS, HTML, C (a little bit), Python ( a little bit), and more </span> 
		<br>
		<br>
		For now, I am currently seeking to work at a great tech company, and polishing up my projects.
		<p>
	</div>

	<div class="row">
		<h2> Proud Projects </h2>
		<div class="col-xs-5 projects">
		<h4>Roly Polly <small> <a href="http://roly-polly.herokuapp.com">link</a> </small> </h4>
		<%= image_tag("roly_polly.png") %>
	</div>
		<div class="col-xs-5 projects">
		<h4>Asteroids <small> <a href="https://github.com/weymanf/asteroid-js">link</a> </small></h4> 
		<%= image_tag("asteroids.png") %>
		</div>
		<div class="col-xs-5 projects">?????
		</div>
	</div>


</div>



