<div class="container">

<h3> Snake </h3>    
Get Ready. It's pretty fast. <span class="count-down"></span>
	<br>
	<br>
    <p> Up Down Left Right to move. <button class="restart-sn">New Game</button> </p>
    <br>
    
<div id="grid"></div>

<br>
check out the code here <a href="https://github.com/weymanf/asteroid-js">Snake code</a>

</div>

<script>
      $(function () { new SG.View($("#grid")).start(); });

 $(".restart-sn").click(function(){
            window.location.reload()   
        });

  window.addEventListener("keydown", arrow_keys_handler, false);

</script>