/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";




body { 
    background: image_url('back_maybe.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
}

.container {
	padding: 50px;
	background-color: white;
	opacity: 0.95;
}

.asteroids-back {
	background: image_url('space.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}