.pro-text p, h3 {
	margin: 20px;
	text-align: center;	
}

.pro-text {
	width: 400px;
	display: inline-table;
	height: 100%;
}

.row {
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}

.tilt img {
	width: 330px;
	height: 300px;
	    display: block;
    margin: 0 auto;
}


.container-fluid {
	padding-left: 100px;
}
