.cell {
  float: left;
  height: 20px;
  width: 20px;
  background: black;
  opacity: 1;

}

.snake {
  background-color: pink;
  opacity: 0.6;
}

.apple {
  background-color: red;
}

.row {
  clear: both;
}


#grid {
	margin: 0 auto;
	width: 50%;
}

.games {
  float: right;
}

.games a:hover {
  color: red;
}

.games li{
  color: red;
}

.games ul {
  background-color: white;
}

.games ul li {
  color: white;
}


.count-down {
  font-size: 30px;
  color: red;
}
