// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo span {
	padding-top: 50px;
	margin-left: 20px;
	color: white;
	font-size: 150%;
}


.jumbotron {
	background-color: black;
	opacity: 1;
}

.jumbotron a{
	color: lightblue;
	margin: 10px;
}

.about {
	font-size: 120%;
	font-family: Arial;
}

.about span {
	margin: 150px;
}

body {
	padding-bottom: 100px;
}


.projects {
	padding: 80px;
}

.ast {
	margin-left: 100px;
}